*,
*::before,
*::after {
  box-sizing: border-box; 
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Mono';
    font-size: 20px;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.3px;
    height: 2100px;
 }

 h1 h2 h3 h4 h5 h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
 }

 ul li {
     display: block;
     padding: 0;
     margin-right: 60px;
 }

 .header {
     background: url('../assets/images/background-full.jpg') no-repeat center top / cover;
     color: #fff;
     padding-bottom: 530px;
 }

 header a {
     color: #FFF;
 }

.logo {
     margin-right: 40px;
 }

.menu {
    display: flex;
}

a {
 color: white;
 text-transform: uppercase;
 text-decoration: none;
 font-size: 14px;
 letter-spacing: 0.1em;
}

.hover {
    transition: background-color 1s ease, color 0.3s ease;
    padding: 5px 15px ;
}

.hover:hover {
    background: darkgray;
    color: gray;
    border-radius: 20px;
    transform: scale(1.2);

}

li {
 margin-right: 40px;
}

.nav {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 1050px;
 }

 .container {
      width: 1170px;
      margin: o auto;
     } 

img {
        object-fit: cover;
        object-position: center;
     }  

 h1 {
 font-size: 50px;
 color: white;
 padding-top: -20px;
 margin-left: 400px;
 font-style: normal;
 line-height: 1.3;
 animation: phw 3s 1;
}

@keyframes phw {
    0% {
        opacity: 0;
    }
    50% {
        
        opacity: 0.5;
    }
        
    75% {
        opacity: 0.5;
        letter-spacing: 20px;
        line-height: 1;
    }
    100% {
        color: white
        opacity: 1;
    }
}

h2 {
  font-size: 20px;
  color: white;
  font-style: normal;
  margin-bottom: 10px;
  margin-left: 400px; 
  line-height: 0.7;
  animation: logo 4s 1;
}
@keyframes logo {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
h3 {
 font-size: 20px;
 color: black;
 font-style: normal;
 line-height: 0.7;
}

.buttons {
  display: flex;
  animation: but 6s 1;
 }
 @keyframes but {
     0% {
         opacity: 0;
     }
     50% {
         opacity: 0;
     }
     75% {
         opacity: 0.5;
     }
     100% {
         opacity: 1
     }
 }

.btn {
   font-size: 15px;
   text-align: center;
   color: white;
   letter-spacing: 0.1em;
   padding: 10px 27px;
   top: 300px;
   background: rgb(243, 70, 70);
   /* width: 160px; */
   border-radius: 20px;
   position: absolute;
   left: 400px;
   transition: transform 0.5s ease-in-out;
 }

 .btn:hover {
     background: red;
     color: #000;
     border: 1px solid grey;
     transform: scale(1.1);
 }

  .btn-2 {
     font-size: 15px;
     text-align: center;
     color: white;
     letter-spacing: 0.1em;
     padding: 10px 27px;
     border: 1px solid rgb(243, 70, 70);
     width: 160px;
     transition: all 0.5s ease;
     background: none;
     position: absolute;
     top: 300px;
     left: 600px;
     border-radius: 20px;
     transition: transform 0.5s ease-in-out;
  }

  .btn-2:hover {
    background: red;
    color: white;
    border: 1px solid grey;
    transform: scale(1.1);
}

 hr {
    position: absolute;
    margin-left: 400px;
    margin-top: -40px;
    width: 370px;
    animation:line 3s 1;
 }

@keyframes line {
    0% {
        opacity: 0;
    }
    50% {
        
        opacity: 0;
    }
        
    75% {
        opacity: 0.5;
        width: 550px;
        margin-top: -30px;
    }
    100% {
        color: white
        opacity: 1;
    }
}

 main {
     position: relative;
 }

 .sidebar {
       width: 25%;
       float: left;
       background: rgb(243, 70, 70); 
       padding: 0 2.5%;
       height: 2540px;
     }

 .text {
     padding: 10px;
     position: -webkit-sticky;
     position: sticky;
     top: 0;
     z-index: 1;

 }

 .text li {
     padding-bottom: 10px;

 }


 .left-menu:hover {
     color:lightgrey;
     font-size: 20px;
     
 }

 .col-2 {
       width: 75%;
       float: right;
       background: grey;
       padding: 20px 2.5%;
       height: 2500px;
 }

 .letters {
     font-size: 25px;
     }

 summary {
     font-size: 20px;
     color: white; 
     padding: 10px;
 }

 .parent {
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-template-rows: repeat(2, 1fr);
     grid-column-gap: 10px;
     grid-row-gap: 10px;
     height: 100vh;
 }

 .parent > div {
     border: 2px solid white;
 }

 .div1 { grid-area: 1 / 1 / 2 / 3; }
 .div2 { grid-area: 1 / 3 / 2 / 4; }
 .div3 { grid-area: 1 / 4 / 2 / 5; 
         z-index: 2;
}
 .div4 { grid-area: 1 / 5 / 3 / 7; }
 .div5 { grid-area: 2 / 1 / 3 / 5;
         z-index: 3; 
}

 .div4 {
     position: relative;
 }

 .div1:hover {
    transform: scale(1.2) 
 }
 .div2:hover {
    transform: scale(1.2) 
 } 
 .div3:hover {
    transform: scale(1.2) 
 } 

 .div5:hover {
    transform: scale(1.2) 
   
 }

 .block {
    width:437px;
    height:50px;
    background: rgb(243, 70, 70);
    position: relative;
    margin-left: 893px;
    margin-top: -50px;
    padding: 10px; 
 }

 .block p {
    color: white;
    font-size: 20px;
    margin-top: 0;
 }

 #arrow {
    position: absolute;
    font-size: 15px;
    text-align: center;
    color: white;
    letter-spacing: 0.2em;
    padding: 10px 27px;
    border: 1px solid white;
    width: 160px;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 270px;
    background: none;
 }

 #arrow:hover {
    background: white;
    color: red;
    transition: transform 1s ease-in-out;
   
 }

  .icons  {
     border: 1px solid white;
     width: 150px;
     height: 35px;
     /* margin-bottom: 0; */
     padding: 2px;
     position: fixed;
     bottom: 80px;
     right: 50px;
     z-index: 1;
 }

 .icon-content {
     float: left;
     margin-left: 10px;
     margin-top: -2px;
     width: 30px;
     height: 30px;
     width: 23%;
 }

 .icon-content:hover {
     transform: scale(1.1);
 }
 .anime {
     position: sticky;
     top: 300px;
     width: 150px;
     height: 50px;
     border: 1px solid white;
     padding: 2px;
     background: rgb(237,14,14);
     background: linear-gradient(90deg, rgba(237,14,14,1) 0%, rgba(96,97,101,0) 35%, rgba(246,247,236,1) 100%);
     transition: width 1s cubic-bezier(0, 0, 1, 1) 500ms;
 }

 .anime:hover {
        width: 250px;
}

